{% extends 'base.html' %}
{% load crispy_forms_tags %}

<!-- 
<form action = "" method = "post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value=Submit>
</form>
 -->

{% block content %}
<form method="post">
  {% csrf_token %}

  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
{% endfor %}
  {% endif %}

  {{form | crispy}}
  
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>
{% endblock %}

 


