<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Django</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
<body>
<h2>Book Form</h2>
<hr>

<form action = "{% url 'homepage' %}" method = "post">
  {% csrf_token %}
  <form class="row g-3">
    {% if single_book %}
    <div class="col-md-2">
      <label class="form-label">Book ID</label>
      <input type="number" class="form-control" name="bid" value="{{single_book.id}}"readonly><br>
    </div>
    {% endif %}
    <div class="col-md-2">
      <label class="form-label">Book Name</label>
      <input type="text" class="form-control" name="bname" value="{{single_book.name}}"placeholder="Enter Book Name"><br>
    </div>
    <div class="col-md-2">
      <label class="form-label">Book Price</label>
      <input type="number" class="form-control" name="bprice" value="{{single_book.price}}" placeholder="Enter Book Price"><br>
    </div>
    <div class="col-md-2">
      <label class="form-label">Book Qty</label>
      <input type="number" class="form-control" name="bqty" value="{{single_book.qty}}" placeholder="Enter book Qty"><br>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Submit book</button>
      <a href="{% url 'show_all_books' %}" class="btn btn-secondary">Show all books</a>
      <a href="{% url 'show_soft_deleted_books' %}" class="btn btn-warning">Show all soft deleted books</a>
      <a href="{% url 'soft_delete_all_books' %}" class="btn btn-info">Soft delete all books</a>
      <a href="{% url 'delete_all_books' %}" class="btn btn-danger">Hard delete all books</a>
    </div>
  </form>

</form>

</body>
</html>

