<!-- <!DOCTYPE html>
<html>                                      
    <head>
        <title>Welcome to Spain</title>
    </head>

<body>
    <h1>Hola Senora</h1>
    <p>How you doin</p>
    <a href = "https://www.google.com">This is google</a>
    <p>This is a <br> paragraph with line break</p>
    <img src = "/media/IMG_0590.jpeg" width = "500" height = "600">

</body>

</html>  -->

<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to Django</title>
    </head>
<body>
    <h2>Book Form</h2>
    <hr>

    <form action = "{% url 'homepage' %}" method = "post">
        {% csrf_token %}

        {% if single_book %}
        Book ID:- <input type="number" name="bid" value="{{single_book.id}}" readonly><br><br>
        {% endif %}
        
        <label>Book Name:- </label>
        <input type = "text" name="bname" value="{{single_book.name}}" placeholder="Enter Book Name"><br><br>
        Book Price:- <input type="number" name="bprice" value="{{single_book.price}}" placeholder="Enter Book Price"><br><br>
        Book Qty:- <input type="number" name="bqty" value="{{single_book.qty}}" placeholder="Enter Book Qty"><br><br>
    
        <input type = "submit" value = "Submit"><br><br>
    
    <!-- <div class="col-md-4">
    <select class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        {% for book in books %}
        <option value="{{book.id}}">{{book.name}}</option>
        {% endfor %}
    </select>
    </div> -->

    <!-- <div class="container mt-5">
        <select class="selectpicker" multiple aria-label="size 3 select example" name="books">
          {% for book in books %}
          <option value="{{book.id}}">{{book.name}}</option>
          {% endfor %}
        </select>
    </div> -->

    <!-- <form class="row g-3">
        <div class="col-md-2">
          <label for="inputEmail4" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Password</label>
          <input type="password" class="form-control" id="inputPassword4">
        </div>
        <div class="col-12">
          <label for="inputAddress" class="form-label">Address</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="col-12">
          <label for="inputAddress2" class="form-label">Address 2</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="col-md-6">
          <label for="inputCity" class="form-label">City</label>
          <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="col-md-4">
          <label for="inputState" class="form-label">State</label>
          <select id="inputState" class="form-select">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="col-md-2">
          <label for="inputZip" class="form-label">Zip</label>
          <input type="text" class="form-control" id="inputZip">
        </div>
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div> -->

    </form>

    <a href="{% url 'show_all_books' %}">Show All Books</a><br><br>

</body>


</html>

