<!DOCTYPE html>
<html>
    <head>
        <title>All Soft Deleted Books</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>

<body>
    <h2>All Soft Deleted Books</h2>

<table border="2" style="width: 50%;" class="table">
    <thead>
        <tr>
        <th>Book ID</th>
        <th>Book Name</th>
        <th>Book Price</th>
        <th>Book Qty</th>
        <th>Action</th>
        </tr>
    </thead>
    {% for book in books %}
    <tr>
        <td>{{book.id}}</td>
        <td>{{book.name}}</td>
        <td>{{book.price}}</td>
        <td>{{book.qty}}</td>
        <td>
            <form action="{% url 'restore_soft_deleted_book' book.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Restore" class="btn btn-success">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
    
<a href="{% url 'homepage' %}" class="btn btn-info">Home</a> 

<a href="{% url 'restore_all_soft_deleted_books' %}" class="btn btn-success">Restore all</a>


</body>
</html>

