{% extends 'base.html' %}  
  
{% block content %}  
    <ul class="nav flex-column">  
        {% for object in object_list %}  
            <li class="nav-item">First Name: {{ object.first_name }}</li>  
            <li class="nav-item">Last Name: {{ object.last_name }}</li>  
            <li class="nav-item">Mobile: {{ object.mobile }}</li>  
            <li class="nav-item"> Email: {{ object.email }}</li>  
        <hr>  
        {% empty %}  
        <li class="nav-item">No objects Find</li>  
        {% endfor %}  
    </ul>  
  
{% endblock content %}


